Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. Python
1. Java
1. C++
1. R
1. Julia
1. JavaScript

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. SciPy
4. Pandas
5. Keras
6. Plotly

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools | Apache Spark | RStudio | TensorFlow |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
# Arithmetic operations
code = compile("6 + 2", "<string>", "eval")
eval(code)
# Result: 9

8

In [26]:
# Arithmetic operations
code = compile("14 * 100", "<string>", "eval")
eval(code)
# Result: 9

1400

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [27]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by diving by 60

In [30]:
hours = 0
mins = 200
hours = mins / 60
print (str(hours) + (" hours " ))

3.3333333333333335 hours

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

**Objectives:**
- Learn Jupyter
- List popular languages for Data Science
- List popular libraries for Data Science

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author
Fatima